h1 {
  color: pink;
  front-size: 100px;
  text-align: center;
  background-color: purple;
  text-shadow: ; 10px 10px black
}
h2 {
  color: black;
  front-size: 100px;
  text-align: center;
  background-color: burlywood;

}
h3 {
  color: blue;
  front-size: 20px;
  text-align: center;
  background-color: (179, 152, 117);
}
h4 {
  color: blue;
  front-size: 20px;
  text-align: center;
  background-color: (179, 152, 117);
}

h5 {
  color: blue;
  front-size: 20px;
  text-align: center;
  background-color: (179, 152, 117);
}

h6 {
  color: blue;
  front-size: 20px;
  text-align: center;
  background-color: (179, 152, 117);
}
p {
  color: blue;
  front-size: 20px;
  text-align: center;
  background-color: (179, 152, 117);
}
